/*
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!build.gradle
!settings.gradle
!.travis.yml
!/textures/
!/gradle.properties
!.gitattributes
!ASSETS_LICENSE.txt

!buildSrc
buildSrc/.gradle
buildSrc/build

src/generated/resources/\.cache/
